// copied from https://www.schemecolor.com/amethyst-steven-universe.php
$amethyst-1: #9b01f2;
$amethyst-2: #d95afe;
$amethyst-3: #e3ddef;
$amethyst-4: #b896ca;
$amethyst-5: #151219;
$amethyst-6: #6f7691;

$amethyst-background: $amethyst-1;
$amethyst-background-2: $amethyst-2;

$amethyst-text: $amethyst-3;